<div class="row formfields">
	<div class='col col-md-2'>
		<%=f.label :name %>
	</div>
	<div class='offset-1 col col-md-9'>
		<%=f.text_field :name,:class=>"input"%>
	</div>
</div>
<div class='row formfields'>
	<div class='col col-md-2'>
		<%=f.label :email %>
	</div>
	<div class='offset-1 col col-md-9'>
		<%=f.text_field :email,:class=>"input"%>
	</div>
</div>
<div class='row formfields'>
	<div class='col col-md-2'>
		<%=f.label :subject %>
	</div>
	<div class='offset-1 col col-md-9'>
		<%=f.text_field :subject,:class=>"input"%>
	</div>
</div>
<div class='row formfields'>
	<div class='col col-md-2'>
		<%=f.label :description %>
	</div>
	<div class='offset-1 col col-md-9'>
		<%=f.text_area :description,:class=>"input"%>
	</div>
</div>
