<div class="container">
	<% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
      <%= value %>
    </div>
	<% end %>
	<div class="newpost">
		<%=link_to 'create new feedback', new_feedback_path,:class=>'btn btn-warning' %>
	</div>
	<div class="feedbacklist">
		<table class="table table-bordered table-hover">
			<thead class="thead-light">
				<tr>
					<th>sl.no</th>
					<th>Name</th>
					<th>Email</th>
					<th>Subject</th>
					<th>Feedback</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% @feedbacks.each do |feedback| %> 
					<tr>
						<td class="feedback-list">
							<%= feedback.id %>
						</td>
						<td>
							<strong><%= feedback.name %></strong>
						</td>
						<td>
							<%= feedback.email %>
						</td>
						<td>
							<strong><%= feedback.subject %></strong>
						</td>
						<td>
							<%= feedback.description %>
						</td>
						<td>
							<%= link_to feedback_path(feedback),:class=>'btn btn-info btns' do %>
								<i class="fa fa-eye"></i>
							<% end %>
							<%= link_to edit_feedback_path(feedback),:class=>'btn btn-secondary btns' do %>
								<i class="fa fa-pencil"></i>
							<% end %>
							<%= link_to feedback_path(feedback),method: :delete, data:{confirm: 'Are you sure?'}, :class=>'btn btn-danger btns' do %>
								<i class="fa fa-trash"></i>
							<% end %>
						</td>
					</tr>
				<% end %> 
			</tbody>
		</table>
	</div>
</div>
 